# API Keys
GROQ_API_KEY=your-groq-api-key
# OPENAI_API_KEY=your-openai-api-key  # opsional

# LLM Configuration
LLM_PROVIDER=groq                     # atau openai
MODEL_NAME=llama-3.1-8b-instant       # untuk groq
# MODEL_NAME=gpt-4o-mini              # untuk openai

# FastAPI Configuration
FAISS_INDEX_PATH=data/faiss_index/index.faiss
FAISS_METADATA_PATH=data/faiss_index/metadata.pkl